.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.Title{
  padding-top: 1px;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: beige;
  font-size: large;
  height: 100px;
  width: 100%;
  background-color: rgb(109, 189, 158);

}

.HeaderTxt{
  text-align: center;
  justify-content: center;
  text-shadow: beige;
  font-size: 50px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  color: aliceblue
}

button{
  background-color: rgb(109, 189, 158);
  color: white;
  font-size: 15px; 
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover{
  background: rgb(248, 198, 170);
  color: white;

}

input{
  height: 20px;
  width: 200px;
}
input:focus{
  background-color: rgba(232, 238, 236, 0.925);
}

.SubmitField{
  align-content: flex-start;
}